################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MagicVilla/.vs/MagicVilla/FileContentIndex/700f481e-17c1-4f97-bf8c-871c22ec2b7f.vsidx


[Bb]in/
.vs/
